#reseaux-sociaux img{
    max-width: 50px;
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
    float: left;
}

#photo img {
    max-width: 200px;
    height: auto;
    float: left;
    border: 3px solid #000000;
}

body{
    background-image: url("assests/image/forest_green_diagonal_bricks_pattern.gif");
    margin-left: 20px;
    margin-right: 20px;




}




#bloc-photo{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("assests/image/wood7.jpg");
    position: fixed;
    border-radius: 15px;


}

#photo{
    margin-top: 50px;
    margin-left: 70px;
}

#nom-poste{
    margin: 10px;
    text-align:center;
    float: left;
}

#reseaux-sociaux{
    margin-left: 70px;

}

#contact{
    float: left;
    text-align:center;
    padding-top: 40px;
    margin-left: 70px;
    font-family: 'Open sans', sans-serif; color: #000000; font-size: 17px;
}


#bloc-contenu{

}

#bloc-competence{
    padding-left: 500px;
}

#bloc-experience{
    padding-left: 500px;

}

#bloc-formation{
    padding-left: 500px;
}

#bloc-interet{
    padding-left: 500px;
}

#bloc-contenu h2{
    font-family: 'Open sans', sans-serif; color: #05D119; font-size: 35px;
    text-align:center;
    padding-top: 30px;

}

#bloc-contenu h3{
    font-family: 'Open sans', sans-serif; color: #FF9900; font-size: 30px;
}

footer{
    text-align:center;
}

ul li{
    font-family: 'Open sans', sans-serif; color: #FFFFFF; font-size: 20px;
    margin-top: 10px;

}

#logo-dev img{
    max-width: 70px;
    height: auto;
    padding-left: 50px;
}

#logo-dev{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#bloc-separation{
    margin: auto;
    height: 50px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 20px;
}

progress[value]::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress{
    margin-left: 20px;
}

